<!DOCTYPE html>
<html lang="en"></html>
<head>
  <meta charset="UTF-8">
  <title>Laskuri</title>
</head>
<body>
  <h2>Ohtulaskuri</h2>
  <div>nappia painettu {{ value }} kertaa</div>
  <form action="/increment" method="POST">
    <br>
    <input type="submit" value="Paina">
    <br>
  </form>
  <form action="/reset" method="POST">
    <br>
    <input type="submit" value="Nollaa">
    <br>
  </form>
  <form action="/set" method="POST">
    <br>
    <input type="text" name ="Arvo">
    <input type="submit" value="Aseta">
  </form>
</body>
</html>